name: Node.js CI with Test Coverage

on:
 push:
  branches: [main]
 issues:
  types: [opened]


jobs:
 build-and-test: 
  runs-on: ubuntu-latest
  strategy:
   matrix:
    node-version: [12.x]
  steps:
  - name: checkout repository code
    uses: actions/checkout@v2

  - name: Use node.JS ${{matrix.node-version}}
    uses: actions/setup-node@v1
    with:
     node-version: ${{matrix.node-version}}

  - name: Install dependencies
    run : npm i

  - name: Build project (if build script exists)
    run: npm run build --if-present
  
  - name: Run tests and generate coverage report
    run: npm test -- --coverage

  - name: Upload code coverage report
    uses: actions/upload-artifact@v4
    with: 
        name: code-coverage-report-$s{{matrix.node-version}}
        path: coverage/
        if: always()

